/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
img,
figure,
figcaption,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img.gallery {
  width: 30%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/************************************************************* Généralités******************************************/

body {
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
section {
  width: 1140px;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

li:hover {
  color: #b1663c;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

/**********************************************Header détails ***************************************************/

.lien_login:hover,
.lien_logout:hover,
.lien_accueil:hover {
  color: #b1663c;
}

.header-barrenav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 2;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1140px;
}

nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
nav li {
  padding: 0 0px;
  font-size: 1.2em;
}

.insta {
  padding-top: 5px;
  max-width: 15px;
}
/************************************************Intro***********************************************************/

#introduction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: flex;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}

/*Zone Gallery détails----------------------------------------------------------------------------------------------------------------------*/
.filters:hover {
  font-weight: 800;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery img {
  width: 366px;
}
.gallery {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

/*Modales détails---------------------------------------------------------------------------------------------------------------------------*/

.modal1 img:hover,
.modal2 img:hover {
  cursor: pointer;
}

.inputModal2 {
  width: 420px;
  height: 51px;
  background-color: white;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
